#container {
    display: flex;
    padding: 21px 371px;
    margin-bottom: 20px;
    background-color: rgb(168, 151, 142);

    #logo{
        align-content: center;
        cursor: pointer;
        &:hover{
            color: darkslategray;
        }
    }

    #links{
        flex-grow: 1;
        display: flex;
        gap: 21px;
        justify-content: right;
        align-content: center;

        .link{
            cursor: pointer;
            &:hover{
                color: darkslategray;
            }
        }
    }
}
