.header-button {
    display: inline-block;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
    border-radius: 7%;
    text-align: center;
    transition: background-color 0.7s;
  }
  
.header-button:hover {
    color: darkslategray;
    background-color: rgba(191, 201, 201, 0.075);
}
  
.button-content {
 display: flex;
 flex-direction: column;
 align-items: center;
}
  
.material-icons {
    margin-bottom: 4px;
}
  
span {
    font-size: 11px;
}