.picsum-img-wrapper img {
    object-fit: cover;
    height: 300px;
    /* Adjust height as per your design */
}


.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.picsum-img-wrapper {
    position: relative;
}

.picsum-img-wrapper button {
    /* Ensure the button is above the image */
    background-color: rgba(63, 63, 68, 0.349);

}

.picsum-img-wrapper button i {
    font-size: 1.71rem;
    /* Increase the size of the heart icon */
    color: grey;
    /* Heart icon color */
}

.carousel-control-prev,
.carousel-control-next {
    z-index: 5;
    /* Set lower than the favorite button */
}

.favorite-btn {
    z-index: 10;
    /* Higher than carousel navigation arrows */
    cursor: pointer;
}

#homeImg {
    display: block;
    width: 100%;
    height: auto;
    max-height: 350px;
    object-fit: cover;
}



.image-container {
    position: relative;
}


.search-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    /* Optional: adds a slight overlay to make the search more visible */
}

.header-overlay {
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: start;
    align-items: left;
}

.search-wrapper {
    position: relative;
    width: 100%;
    max-width: 500px;
}

.form-control {
    width: 100%;
    padding-right: 40px;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #495057;
    /* Adjust color as needed */
}