<h2 class="generalPagePadding">Unforgettable Tours</h2>
<div class="card-group generalPagePadding">
     <!-- Loop through carousel items -->
     <div class="card m-1" *ngFor="let carouselItem of carouselList">
          <!-- Carousel section inside the card body -->
          <div class="card-body p-0">
               <ngb-carousel #carousel [interval]="carouselItem.interval" [pauseOnHover]="pauseOnHover"
                    [pauseOnFocus]="pauseOnFocus" (slide)="onSlide($event)">
                    <!-- Loop through images for each carousel -->
                    <ng-template ngbSlide *ngFor="let img of carouselItem.images; let i = index">
                         <div class="picsum-img-wrapper">
                              <img [src]="img" alt="My image {{ i + 1 }} description" class="d-block w-100" />
                         </div>
                         <div class="carousel-caption d-none d-md-block">
                              <h5>My slide {{ i + 1 }} title</h5>
                              <p>Slide {{ i + 1 }} description goes here.</p>
                         </div>
                    </ng-template>
               </ngb-carousel>
          </div>
          <!-- Card footer with additional info -->
          <div class="card-footer">
               <small class="text-muted">Carousel interval: {{ carouselItem.interval }} ms</small>
          </div>
     </div>
</div>