.picsum-img-wrapper img {
    object-fit: cover;
    height: 300px;
    /* Adjust height as per your design */
}

.card-footer {
    background-color: #f8f9fa;
    text-align: center;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.picsum-img-wrapper {
    position: relative;
}

.picsum-img-wrapper button {
    /* Ensure the button is above the image */
    background-color: rgba(63, 63, 68, 0.349);

}

.picsum-img-wrapper button i {
    font-size: 1.71rem;
    /* Increase the size of the heart icon */
    color: grey;
    /* Heart icon color */
}

.carousel-control-prev,
.carousel-control-next {
    z-index: 5;
    /* Set lower than the favorite button */
}

.favorite-btn {
    z-index: 10;
    /* Higher than carousel navigation arrows */
    cursor: pointer;
}


.image-container {
    position: relative;
    width: 100%;
    max-height: 350px;
}

#homeImg {
    display: block;
    width: 100%;
    height: auto;
    max-height: 350px;
    object-fit: cover;
}

.image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    /* Dark grey overlay */
    z-index: 1;
    /* Ensures the overlay sits on top of the image */
}

#homeImg:hover {
    filter: grayscale(0%) brightness(1);
    /* Restores full color and brightness on hover */
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 381px;
    /* 371px (right padding) + 10px (distance from right edge) */
    transform: translateY(-50%);
    z-index: 2;
}