<div id="sect1" class="image-container">
     <img id="homeImg" src="./assets/img/albanien-urlaub.jpg" alt="image">
</div>



<h2 class="generalPagePadding">Unforgettable Tours</h2>



<div class="container-fluid generalPagePadding">
     <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3 g-4">
          <div class="col" *ngFor="let carouselItem of carouselList">
               <div class="card h-100">
                    <div class="card-body p-0">
                         <ngb-carousel #carousel [interval]="carouselItem.interval" [pauseOnHover]="pauseOnHover"
                              [pauseOnFocus]="pauseOnFocus" (slide)="onSlide($event)">
                              <ng-template ngbSlide *ngFor="let img of carouselItem.images; let i = index">
                                   <div class="picsum-img-wrapper">
                                        <img [src]="img" alt="My image {{ i + 1 }} description" class="d-block w-100" />
                                        <button type="button" class="btn position-absolute top-0 end-0 m-2 favorite-btn"
                                             (click)="toggleFavorite(i)">
                                             <i class="fas"
                                                  [ngClass]="isFavorite(i) ? 'bi bi-heart-fill' : 'bi bi-heart'"></i>
                                        </button>
                                   </div>
                                   <div class="carousel-caption d-none d-md-block">
                                        <h5>My slide {{ i + 1 }} title</h5>
                                        <p>Slide {{ i + 1 }} description goes here.</p>
                                   </div>
                              </ng-template>
                         </ngb-carousel>
                    </div>
                    <div class="card-footer">
                         <small class="text-muted">Carousel interval: {{ carouselItem.interval }} ms</small>
                    </div>
               </div>
          </div>
     </div>
</div>